@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.header {
  gap: 24px;
  color: $color-white;
  display: flex;
  padding: 6rem 2rem;
  background: $color-grey;
  flex-direction: column;

  &__image {
    width: 84px;
    height: 84px;
    // display: none;

    @include respond-to-xl {
      // display: block;
      width: 244px;
      height: 244px;
    }
  }

  &__content {
    gap: 8px;
    display: flex;
    flex-direction: column;

    &__buttons {
      gap: 24px;
      display: flex;
      margin-top: 24px;
      flex-direction: column;

      @include respond-to-md {
        flex-direction: row;
      }
    }
  }

  @include respond-to-md {
    padding: 6rem 4rem;
  }

  @include respond-to-lg {
    padding: 6rem 8rem;
  }

  @include respond-to-xl {
    gap: 84px;

    padding: 6rem 12rem;
    flex-direction: row;
  }
}
