NEXT_PUBLIC_SUPABASE_URL=https://rqautahsvsoneozemjth.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxYXV0YWhzdnNvbmVvemVtanRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTI3ODkxOTMsImV4cCI6MjAwODM2NTE5M30.U9I1JlMkrlBZMpPvfvm9WqKxivcjLTIvYu8LKXFSc4w