NEXT_PUBLIC_SUPABASE_URL=https://lvtcbaciaiiugsdwmcgi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2dGNiYWNpYWlpdWdzZHdtY2dpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTQ3NDY3NzAsImV4cCI6MjAzMDMyMjc3MH0.OhmXbkfAOkcglVFu-Epj8bxtVaumZshY52Sj2NORUXQ