@import "@/styles/variables";
@import "@/styles/mixins";

.tabs {
  gap: 0.25rem;
  width: 100%;
  display: flex;
  padding: 0.25rem;
  overflow: hidden;
  max-height: 58px;

  background: $color-background;
  border-radius: 1rem;
  flex-direction: column;

  @include respond-to-sm {
    width: auto;
    overflow: unset;
    flex-direction: row;
  }

  &__tab {
    &__button {
      width: 100%;
      color: rgb(161, 161, 170);
      padding: 1rem 1.5rem;
      position: relative;
      font-size: $font-small;
      transition: all 0.2s ease-in-out;
      border-radius: 0.75rem;

      &__arrow {
        top: 50%;
        right: 1.5rem;
        position: absolute;
        transform: translateY(-50%);
        font-size: 18px;

        @include respond-to-sm {
          display: none;
        }
      }
    }

    &--active {
      .tabs__tab__button {
        color: $color-white;
        background: $color-grey;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  &--open {
    max-height: unset;
  }
}
