@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.demo {
  flex: 1;
  display: flex;
  flex-direction: column;

  min-height: 750px;
  box-shadow:
    0 20px 25px 10px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  &__switch {
    top: 12px;
    left: 18px;
    color: $color-background;
    width: 2rem;
    height: 2rem;
    display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;

    &:hover {
      color: $color-grey;
      transform: scale(1.15);
    }

    &:last-of-type {
      left: auto;
      right: 18px;
    }
  }

  @include respond-to-lg {
    min-height: 500px;
    flex-direction: row;
  }
}
