@import "@/styles/variables.scss";

.field {
  gap: $spacing-editor-horizontal;
  padding: $spacing-editor-horizontal $spacing-editor-vertical;
  position: relative;
  padding-top: 0;

  color: $color-white;
  background: $color-grey;

  width: 50%;
  display: flex;

  align-items: center;
  flex-direction: column;

  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;

  &__label {
    height: 50px;
    display: flex;
    position: relative;
    font-weight: 600;
    align-items: center;

    &::after {
      width: 100%;
      height: 3px;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
      background: $color-white;
    }
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;

    &__input {
      color: inherit;
      width: 100%;
      border: none;
      resize: none;
      background: transparent;

      min-height: 8rem;
      font-family: inherit;

      &__loading {
        filter: blur(5px);
        opacity: 0.5;
        overflow: hidden;
      }

      &:focus {
        outline: none;
      }
    }

    &__error {
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);

      text-align: center;
      font-weight: 600;
    }
  }

  &:last-of-type {
    color: $color-grey;
    background: $color-yellow;

    border-top-left-radius: 0;
    border-top-right-radius: $radius;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: $radius;

    .field__label {
      &::after {
        background: $color-grey;
      }
    }
  }

  &__buttons {
    gap: $spacing-default;
    width: 100%;
    display: flex;
    margin-top: auto;
  }
}
