@import "@/styles/variables.scss";

body,
html {
  width: 100vw;
  height: 100vh;

  color: #525252;
  background: #eaeaea;
}

main {
  width: 100%;
  display: flex;
}

body {
  margin: 0;
  display: flex;

  font-size: 16px;
  flex-direction: row;
  font-family: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-white;
  margin: 0px;

  font-weight: 600;
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

button {
  border: none;
  background: 0;
}

ul,
li,
ol,
menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
