@import "@/styles/variables.scss";

.demo {
  flex: 1;
  display: flex;
  padding: 4rem 8rem;
  background: $color-background;

  min-height: 500px;
  box-shadow:
    0 20px 25px 10px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  &__wrapper {
    padding: $spacing-editor-horizontal $spacing-editor-vertical;
    padding-top: 0;

    color: $color-white;
    background: $color-grey;

    width: 50%;
    display: flex;

    align-items: center;
    flex-direction: column;

    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;

    &__label {
      height: 50px;
      display: flex;
      position: relative;
      font-weight: 600;
      align-items: center;

      &::after {
        width: 100%;
        height: 3px;
        bottom: 0;
        content: "";
        display: block;
        position: absolute;
        background: $color-white;
      }
    }

    &__input {
      color: inherit;
      width: 100%;
      border: none;
      resize: none;
      background: transparent;
      margin-top: $spacing-editor-horizontal;

      min-height: 8rem;
      font-family: inherit;
    }

    &:last-of-type {
      color: $color-grey;
      background: $color-yellow;

      border-top-left-radius: 0;
      border-top-right-radius: $radius;

      border-bottom-left-radius: 0;
      border-bottom-right-radius: $radius;

      .demo__wrapper__label {
        &::after {
          background: $color-grey;
        }
      }
    }

    &__buttons {
      gap: $spacing-default;
      width: 100%;
      margin-top: auto;
      display: flex;
    }
  }

  button {
    gap: $spacing-default;
    color: $color-white;
    display: flex;
    padding: 16px 32px;
    background: $color-background;

    min-width: 56.5px;
    font-size: $font-body;
    justify-content: center;

    border-color: $border-color;
    border-width: $border-width;
    border-style: $border-style;
    border-radius: $radius;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.01);
  }
}
