@import "@/styles/variables.scss";

.demo {
  flex: 1;
  display: flex;
  padding: 4rem 8rem;
  background: $color-background;

  min-height: 500px;
  box-shadow:
    0 20px 25px 10px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
