@import "@/styles/variables";

.tabs {
  gap: 0.25rem;
  padding: 0.25rem;
  display: flex;
  background: $color-background;

  border-radius: 1rem;
  margin-right: auto;

  &__tab {
    &__button {
      color: rgb(161, 161, 170);
      padding: 0.75rem 1.5rem;
      transition: all 0.2s ease-in-out;
      border-radius: 0.75rem;
    }

    &--active {
      .tabs__tab__button {
        color: $color-white;
        background: $color-grey;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }
}
