// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$spacing-default: 16px;
$spacing-editor-vertical: 24px;
$spacing-editor-horizontal: 20px;

$border-color: #fff;
$border-width: 2px;
$border-style: solid;

$color-grey: #252525;
$color-white: #ffffff;
$color-yellow: #ffc83d;
$color-background: #303030;

$font-body: 17px;
$font-title: 28px;
$font-subtitle: 22px;

$radius: 32px;
