.icon {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.2);
  }

  &__inner {
    color: inherit;
    font-size: inherit;
  }
}
